<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.8.0" targetFramework="net472" />
  <package id="LostTech.VirtualDesktop" version="0.0.1" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.19041.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Vanara.Core" version="3.3.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.DwmApi" version="3.3.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="3.3.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="3.3.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="3.3.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="3.3.0" targetFramework="net472" />
</packages>